target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/background.js
/manifest.json
/mmParserBot
/mmPaserBot
/proxy_auth_plugin_0.zip
/proxy_auth_plugin_1.zip
/proxy_auth_plugin_2.zip
/proxy_auth_plugin_3.zip
/schegolev_test_bot
